<script id="grid-data" type="application/json">{{ grid_json|safe }}</script>
<script id="group-labels-data" type="application/json">{{ group_labels_json|safe }}</script>
<script id="group-sidebar-data" type="application/json">{{ group_sidebar_json|safe }}</script>
<script id="program-filter-options-data" type="application/json">{{ program_filter_options_json|safe }}</script>
<script id="station-modes-data" type="application/json">{{ station_modes_json|safe }}</script>
<script id="franja-order-modes-data" type="application/json">{{ franja_order_modes_json|safe }}</script>
<script id="franja-default-colors-data" type="application/json">{{ franja_default_colors_json|safe }}</script>
<script id="franja-notes-data" type="application/json">{{ franja_notes_json|safe }}</script>
<script id="export-meta-data" type="application/json">{{ export_meta_json|safe }}</script>
<script id="export-participant-fields-data" type="application/json">{{ export_participant_fields_json|safe }}</script>
