{{ schemas|json_script:"schemas-data" }}
{{ logical_schemas|json_script:"logical-schemas-data" }}
{{ scores|json_script:"scores-data" }}
{{ inscripcions|json_script:"inscripcions-data" }}
{{ media_counts_by_inscripcio|json_script:"media-counts-data" }}
{{ judge_video_presence_by_key|json_script:"judge-video-presence-data" }}
{{ rotation_rank_map|json_script:"rotation-rank-data" }}
{{ rotation_groups_by_app|json_script:"rotation-groups-data" }}
{{ updates_cursor_init|json_script:"updates-cursor-init" }}
