{# templates/competicio/classificacions_builder_v2.html #}
{% extends "base.html" %}
{% load static_extras %}
{% block title %}{{ builder_title|default:"Classificacions" }}{% if builder_subtitle %} - {{ builder_subtitle }}{% elif competicio %} - {{ competicio.nom }}{% endif %}{% endblock %}
{% block content %}

{% include "classificacions/builder/_styles.html" %}
{% include "classificacions/builder/_page_chrome.html" %}
{% include "classificacions/builder/_live_menu_modal.html" %}
{% include "classificacions/builder/_json_contract.html" %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
<script>
{% include "classificacions/builder/scripts/_00_bootstrap.js.html" %}
{% include "classificacions/builder/scripts/_10_core_ui.js.html" %}
{% include "classificacions/builder/scripts/_20_team_templates_apps.js.html" %}
{% include "classificacions/builder/scripts/_30_live_menu_modal.js.html" %}
{% include "classificacions/_puntuacio_script.html" %}
{% include "classificacions/builder/scripts/_40_ties_and_teams.js.html" %}
{% include "classificacions/builder/scripts/_50_columns_detail_preview.js.html" %}
{% include "classificacions/builder/scripts/_60_particions.js.html" %}
{% include "classificacions/builder/scripts/_70_hydration_sync.js.html" %}
{% include "classificacions/builder/scripts/_80_actions_init.js.html" %}
</script>

{% endblock %}
